<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../style/Home.css">
    <title>Hotel FourSeasons</title>
    <link rel="Icon" href="logo.png">
</head>
<body>

<div class="h">
    <div class ="imglogo">
        <img src="../../asset2/logo795.png"width="90px"height="100px">
        <div class = "topic">
            <h1>FOURSEASONS</h1>
            <a href ="http://localhost:52222/HotelManagementSystem/Management/lk/ijse/deppo/hotelManagement/view/html/SignUp.html?_ijt=odelp7t4kdgc3j7p7p70lprl90"id ="button2"> Sign In</a>

            <a href ="#"id ="button3"> Sign Up</a>




            <div class ="nav">
                <ul>
                    <li>
                        <a href ="http://localhost:52222/HotelManagementSystem/Management/lk/ijse/deppo/hotelManagement/view/html/Home.html?_ijt=521r629ho0u03sgif1qspu7oju">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Home</a>
                    </li>
                    <li>
                        <a href = "#">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                            Private Retreats</a>
                    </li>
                    <li>
                        <a href = "#">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i> Residences</a></li>
                    <li><a href = "#">
                        <i class="fa fa-usd" aria-hidden="true"></i> Meeting & Events</a></li>
                    <li><a href = "#">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i> Services</a></li>
                    <li><a href = "#">
                        <i class="fa fa-home" aria-hidden="true"></i>Gifts Cards</a>
                    </li>
                    <li>
                        <a href = "#">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i> About Us</a></li>
                    <li>
                        <a href = "#">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>Contact Us</a></li>
                </ul>
            </div></div></div>
</div>

<br/>



<div id="slider">
    <figure>
        <img src=" ../../asset2/d4.jpg">
        <img src="../../asset2/d5.jpg">
        <img src="../../asset2/d4.jpg">
        <img src="../../asset2/d3.jpg">
        <img src="../../asset2/d6.jpg">
    </figure>
    <div class="sss">
        <h2><p>Discover</p></h2>
    </div>
    <div class="ss">
        <h2><p>FOUR SEASONSHOTELS AND RESORTS</p></h2>
    </div>
</div>












<div class="s">
    <p>DISCOVER FOUR SEASONS HOTELS AND RESORTS</p>
</div>
<div class ="imglogo1">
    <img src="../../asset2/d1.PNG"width="900px"height="500px">
</div>

<div class="ssss">
    <p>THE WORLD OF FOUR SEASONS</p>
</div>



<div class ="imglogo2">
    <img src="../../asset2/d2.PNG"width="400px"height="500px">
</div>

<div class="x2">
    <h4><h4><p>Take Your Time</p></h4><br>WHAT MATTERS MOST TO <br>YOU?</p></h4>
</div>

<br>
<div class="x3">
    <p>Travelling with loved ones can be life-<br>
        affirming but opportunities are scarce.<br>
        So much can be discovered in one day,<br>
        one hour or even one minute. No<br>
        matter how you choose to spend it, <br
        >take your time.</p>
</div>
<a href ="#"id ="b3"> Discover More</a>




<div class="z2">
    <h4><h4><p>Residences</p></h4><br>AT HOME WITH FOUR  <br>SEASONS</p></h4>
</div>

<br>
<div class="z3">
    <p>Whether living with us or staying for a <br>
        unique vacation experience, retreat to <br>
        an inspiring home, brought to life by<br>
        legendary Four Seasons service.</p>
</div>
<a href ="#"id ="z3">Explore Location</a>

<div class ="imglogo3">
    <img src="../../asset2/d8.PNG"width="400px"height="500px">
</div>



<div class ="imglogo4">
    <img src="../../asset2/d7.PNG"width="400px"height="500px">
</div>

<div class="l2">
    <h4><h4><p>FourSeasons Private Jet</p></h4><br>TAKING LUXURY TO NEW <br>HEIGHTS </p></h4>
</div>

<br>
<div class="l3">
    <p>Experience insider access like never <br>
        before in the world’s most captivating <br>
        destinations aboard our custom Four <br>
        Seasons Private Jet.</p>
</div>
<a href ="#"id ="l3">Take Off Now</a>





<div class ="imglogo5">
    <img src="../../asset2/d9.PNG"width="400px"height="500px">
</div>

<div class="k2">
    <h4><h4><p>Four Seasons Magazine</p></h4><br>INSPIRATION YOU CAN  <br>TAKE WITH YOU</p></h4>
</div>

<br>
<div class="k3">
    <p>Discover our fascinating world of  <br>
        luxury, travel and lifestyle through the  <br>
        lens of Four Seasons Magazine, the  <br>
        perfect inspiration for your next <br>
        adventure.</p>
</div>
<a href ="#"id ="k3">Your Journey Begins Here</a>







<div class ="imglogo6">
    <img src="../../asset2/d10.PNG"width= "100%"height="500px">
</div>
</body>
</html>