.h       {
    width:100%;
    height:250px;
    margin:0px;
    background:linear-gradient(#070707,#1E1E1E,#1C1439,#363639,#4C4B4E,#66656B,#78767D,#7A7881,#8D8B93,#9E9DA5,#BBBAC3,#C9C8D0,#DEDDE5,#E8E6ED,#EEEEF1,#F4F4F6,#FBFBFB,#fff);
    position: absolute;
}


.imglogo{
    margin-left: 30px;
    margin-top: 50px;

}

.topic{
    margin-left: 580px;
    font-size: 21px;
    margin-top: -120px;
}


body{
    background-color:#fff;margin:0;
}

.nav
{
    width:100%;
    /*display: inline-block;*/
}
ul
{
    margin-left:-290px;
    list-style:none;
    margin-top: 50px;
}
li
{
    float:left;
}
a:link
{
    color:black;
    width:100px;
    text-decoration:none;
    text-align:center;
    padding:10px;
    font-size:13px;
    font-family:verdan;
    display: inline-block;
}
a:hover{
    background:linear-gradient(#66656B,#78767D,#7A7881,#8D8B93,#9E9DA5,#BBBAC3,#C9C8D0,#DEDDE5,#FBFBFB,#fff);
}

#button2
{
    /*SN bon*/padding:10px 5px ;
    font-family:Arial Rounded MT Bold;
    font-size:14px;
    text-shadow:0 0 1px #000;
    cursor:pointer;
    color:#fff;


    position:absolute;
    height:40px;
    border:0px solid #0076a3;
    margin-top:-90px;
    margin-left:640px;
}
#button3
{
    padding:10px 5px ;
    font-family:Arial Rounded MT Bold;
    font-size:14px;
    text-shadow:0 0 2px #000;
    cursor:pointer;
    text-align:center;
    color:#fff;


    position:absolute;
    height:40px;
    border:0px solid #0076a3;
    margin-top:-90px;
    margin-left:760px;
}
#button3:hover
{

    background:linear-gradient(#585858,#6E6E6E,#A4A4A4);
    border-top-right-radius:5px 5px;
    border-top-right-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
}
#button2:hover
{

    background:linear-gradient(#585858,#6E6E6E,#A4A4A4);
    border-top-right-radius:5px 5px;
    border-top-right-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
}









.form-control {
    display: inline-block;
    width: 250px;
    margin-top: 40px;
    border-top-right-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    border:1px solid black;
    margin-left: 403px;
    font-size: 16px;
    margin-bottom: 100px;
    margin-top:230px;



}

.btn_search{
    width:95%;
    padding:5px 5px 5px 5px;
    font-family:arial;
    font-size:14px;
    /*text-shadow:2 2 2px white;*/
    text-align:center;
    color:#fff;
    cursor: pointer;
    background:linear-gradient(#01DFD7,#0B4C5F,#01DFD7);
    border-top-right-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    position:absolute;
    height:34px;
    border:2px solid #01DFD7;
    margin-top: -80px;

    margin-left: 475px;

}

.btn_search:hover {

    background:linear-gradient(#0B4C5F,#01DFD7,#0B4C5F);

    border:1px solid blue;}
